<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings> 
		<add key="XApiKey" value="dfxgkjlxcg1535468329645xdoiulhyfxkjo5hguijolXGFJVHFXGDHTKJCHjhvchgUKBJHVGujbmcfgxb5467890fhx5tguyilnbjgcug5yiokljhfutigyfdrsfdA"/>
		<add key="UserAPI" value ="https://csatnc-eng-dws1/UserAPI_Prod"/>
		<add key ="XApiUser" value="gtB09Yuiokm6t8I~5Tyui7TwlAxh"/>
	</appSettings>
</configuration>